  <div class="container">
		<div class="page-header">
			<center><h1>ABM - PHP - Angular</h1> </center>     
		</div>
	  	 
		           
					<div class="CajaInicio animated bounceInRight">
							
							<h1>Listado de personas</h1>
							<!-- id="listaPersonas" -->
								<input type="search" ng-model="q" placeholder="buscar usuario.." aria-label="buscar usuario" />
							
								<table class='example-animate-container table table-hover table-responsive' id="listaPersonas">
									<thead>
										<tr>
											<th>  Foto   </th>				
											<th>  Nombre     </th>
											<th>  Apellido   </th>
											<th>  Dni        </th>
											<th>  BORRAR     </th>
											<th>  MODIFICAR  </th>
										</tr> 
									</thead>
									<tbody>
										
									<tr  class="animate-repeat" ng-repeat="persona in ListadoPersonas| filter:q as results">

										<td><img  class='fotoGrilla' ng-src="fotos/{{persona.foto}}" /></td>
							
										<td>{{persona.nombre}}</td>
										<td>{{persona.apellido}}</td>
										<td>{{persona.dni}}</td>

										<td><button class='btn btn-danger' name='Borrar' ng-click="Borrar(persona)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
										
										<td><button class='btn btn-warning' name='Modificar'  ui-sref="modificar({id:persona.id, nombre:persona.nombre, apellido:persona.apellido, dni:persona.dni, foto:persona.foto})" ><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>
															
									</tr>
									<tr class="animate-repeat" ng-if="results.length == 0">
										<td></td>						
										<td> <strong>no hay personas con ese dato...</strong></td>
										<td></td>
										<td></td>
										<td></td>										
										<td></td>								     
								    </tr>
									
								    <tbody>
								</table>
							</div>
														
						</div>
		</div>